{% for message in messages %}
    <p>
        <span><b>{{ message.user.pseudo }}</b></span>:
        <span>{{ message.message }}</span>-
        <span><b>{{ message.createdAt | date('d/m/Y h:i:s A', 'Africa/Casablanca') }}</b></span>
    </p>
{% endfor %}
